
    
<%-include('layout/header') %> 

  <!-- Background image -->
  <div
  class="bg-image"
  style="
  background-color:paleturquoise;
    height: 100vh;
  "
  >
  <!-- Background image -->
<div class="container">
    <div class="row my-4">
        <div class="col-lg-12">
         <div class="tableresponsive">
            <% if (users!='') { %>
             
            <table class="table table-stripped text-centre">
                <thead>
                    <tr class="table-primary">
                        <th>No.</th>
                        <th>Name</th>
                        <th>Eligibility</th>
                        <th>CTC</th>
                        <th>Coming On</th>
                        <th>Last Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                  <% users.forEach((row,index) => { %>
                    <tr>
                        <td><%= index+1%> </td>
                        <td><%= row.company %> </td>
                        <td><%= row.eligibility %> </td>
                        <td><%= row.salary %> </td>
                        <td><%= row.informedOn %> </td>
                        <td><%= row.lastday  %> </td>
                        
                        <td>
                            <a href="/edit/<%= row._id  %> " class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                            <a href="/delete/<%= row._id  %> " class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
                        </td>
                    </tr>
             
                  <% }) %>
            </tbody>
            </table>
            <% }
            else { %>
                <h1 class="text-centre text-secondary mt-5"> No company is found in the database! </h1>
                <% } %>

         </div>   
        </div>
    </div>
</div>
<%-include('layout/footer') %> 